<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Rock-paper-scissors!</title>
    </head>
  <body>
    <h1>
      <% @throws.each do |i| %>
        <p><%= i %></p>
      <% end %>
    </h2>
  </body>
</html>