<ul class="links">
  <li class="links__item">
    <% @throws.each do |i| %>

          <a href="/throw/<%= i %>">
            <span class="links__title"><%= i %></span>
          </a>

    <% end %>
  </li>
</ul>

<div id="footer">
  <p>Sinatra version <%= Sinatra::VERSION %>.</p>
</div>