<h1>
	<% computer_throw = @throws.sample %>

	<% if @player_throw == computer_throw %>
		<%= "You tied with the computer. Try again!" %>
	<% elsif computer_throw == @defeat[@player_throw] %>
		<%= "Nicely done! #{@player_throw} beats #{computer_throw}!" %>
	<% else %>
		<%= "Ouch! #{computer_throw} beats #{@player_throw} ... Better luck next time!" %>
	<% end %>
  <br/>
  <div id="footer">
    <a href="/">Again?</a>
  </div>
</h1>
